@import '../../Variable/color';
@import '../../Variable/align';
@import '../../Animation/animation';
.sign {
   @include align;
   @include align2;
   background-image: url('../../../img/home/landingpage-5.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

    .sign__cover {
        animation-name: fade-in;
        animation-duration: 1.5s;
        padding: 50px 60px;
        background-color: $bg-color2;
        border-radius: 15px;
        border: 2px solid #465286;
        text-align: center;
        
        .sign__logo {
            img {
                width: 70%;
            }
        }
        form {
            .login {
                button {
                    margin-top: 2rem;
                    width: 100%;
                }
            }
            .name {
                position: relative;
                display: grid;
                grid-template-columns: auto auto;
                grid-gap: 0 15px;
                
               
                
            }
            .input {
                input {
                    font-size:16px;
                    margin-top: 1.5rem;
                    width: 100%;
                    flex: 1;
                    padding: 0px 20px 0px 20px;
                    background-color: #00082a;
                    border-radius: 15px;
                    min-height: 50px;
                    border: solid 2px #465286;
                    outline: none;
                }
                p {
                    text-align: left;
                    margin-left: 10px;
                    margin-top: 5px;
                }
                
            }
            .signin_q {
                margin: 35px 0;
                    padding: 0 10px;

                    input {
                        opacity: 0;
                        position: absolute;
                        left: -9999px;
                    }

                    a {
                        color: $font-color2;
                        float: right;
                        text-decoration: none;
                    }
                    .lable {
                        float:left;
                        color: $font-color2;
                        cursor: pointer;
                        position: relative;
                        padding-left: 25px;
                        font-size: 16px;

                    }
                    .lable:before {
                        border-radius: 5px;
                        content: '';
                        width: 20px;
                        height: 20px;
                        background: $bg-color3;
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    .lable:after {
                        color: $bg-color;
                        content: '\f121';
                        font-family: "Ionicons";
                        width: 20px;
                        height: 20px;
                        text-align: center;
                        position: absolute;
                        line-height: 22px;
                        font-size: 13px;
                        transition: all .4s;
                        top: 0;
                        left: 0;
                        opacity: 0;
                        transform: scale(0);


                    }

                    input:checked+.lable:after {
                        opacity: 1;
                        transform: scale(1);
                    }
            }
        }

    }
}
//responsive 
@media (max-width: 450px) {
    .sign {
        padding: 1rem;
        .sign__cover {
            padding: 30px;
            form {
                .signin_q {
                    .lable {
                        font-size: 14px;
                    }
                }
                a {
                    font-size: 14px;
                }
            }
        }
    }
}