@import '../../Variable/align';
@import '../../Variable/color';
.detail {
    padding: 4em 2em;
    .detail__cover {
        display: flex;
        justify-content: space-around;
        .detail__left {
            width: 70%;
            .video__title {
                margin-top: 20px;
            }
            div {
                video {
                    border-radius: 25px;
                    width: 100%;
                    
                }
            }
           
          
        }
       
        .detail__right {
            overflow: scroll;
            align-self: flex-start;
            width: 25%;
            ul {
                li {
                    margin-bottom: 30px;
                    list-style: none;
                }
            }
        }
    }
}
//responsive 
@media (max-width: 1040px) {
    .detail {
        .detail__cover {
            .detail__left {
                width: 60%;
            }
            .detail__right {
                width: 35%;
            }
        }
    }
}
@media (max-width: 750px) {
    .detail {
        padding: 2em 1em;
        .detail__cover {
            flex-direction: column;
            .detail__left {
                width: 100%;
            }
            .detail__right {
                max-height: 700px;
                margin: 3rem 0;
                width: 100%;
            }
        }
    }
}