@import '../../Variable/color';
@import '../../Variable/align';

.courses {
    padding: 4em 2em;

    .courses__cover {
        .title {
            text-align: center;
            margin-bottom: 6rem;
        }
        .courses__intro {
            margin-bottom: 6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            padding: 2em;
            border-radius: 30px;
            background: linear-gradient(160deg, #202b54 0%, #0d132f 100%);
            .courses__title__left {
                z-index: 2;
                width: 55%;
                .title {
                    text-align: left;
                    p {
                        margin-top: 10px;
                        font-size: 20px;

                        a {
                            color: #fde2c3;
                            text-decoration: none;

                            &:hover {
                                color: #f4f4f4;
                            }

                        }
                    }
                }
            }

            .courses__title__right {
                text-align: center;
                width: 45%;
                margin-top: -150px;
                z-index: 2;

                img {
                    width: 70%;
                }
            }

        }

        .courses__content {
            padding: 0 3em;
            .courses__content__cover {
                display: flex;
                flex-wrap: wrap;

                .courses__left {
                    width: 30%;
                    flex: 1;
                    margin-right: 35px;

                    .courses__left__cover {

                        padding: 1.5rem;
                        background-color: $bg-color2;
                        border: 2px solid $bg-color3;
                        border-radius: 15px;
                        width: 100%;

                        

                        h3 {
                            padding-bottom: 15px;
                            font-size: 24px;
                            margin-bottom: 20px;
                            color: $font-color;
                            border-bottom: 2px solid #f4f4f430;

                        }

                        ul {
                            li {
                                padding-bottom: 15px;
                                font-size: 18px;
                                margin-bottom: 25px;
                                list-style: none;
                                border-bottom: 1px #f4f4f430 solid;

                                a {
                                    text-decoration: none;
                                    color: #f4f4f4;

                                }
                            }

                            li:last-child {
                                border-bottom: none;
                            }
                        }
                    }
                }

                .courses__right {
                    width: 70%;
                    .search {
                        overflow: hidden;
                        position: relative;
                        margin-bottom: 20px;

                        input {
                            transition: .5s;
                            width: 25%;
                            font-size: 16px;
                            padding: 0 15px 0px 40px;
                            background-color: #00082a;
                            border-radius: 15px;
                            min-height: 45px;
                            border: solid 2px #465286;
                            outline: none;
                            &:focus {
                                width: 70%;
                            }
                        }
                        svg {
                            position: absolute;
                            top: 15px;
                            left: 15px;
                            fill: #757576;
                        }
                    }
                    .list__courses {
                        display: grid;
                        grid-template-columns: auto auto auto;
                        grid-gap: 30px;
                    }
                }
            }
        }
    }
}
//responsive
@media (max-width: 1180px) {
    .courses {
        .courses__cover {
            .courses__content {
                .courses__content__cover {
                    .courses__left {
                        width: 40%;
                    }
                    .courses__right {
                        width: 60%;
                        .list__courses {
                            grid-template-columns: auto auto;
                        }
                    }
                }
            }
        }
    }
}
//responsive
@media (max-width: 980px) {
    .courses {
        padding: 3rem 1rem;

        .courses__cover {
            .courses__intro {
                flex-direction: column;
                .courses__title__left {
                    width: auto;
                    .title {
                        text-align: center;
                    }
                }
                .courses__title__right {
                    width: auto;
                    margin: unset;
                }
            }
            .title {
                h1 {
                    font-size: 60px;
                }
            }
            .courses__content {
                padding: unset;
                .courses__content__cover {
                    flex-direction: column;
                    .courses__left {
                        margin-right: unset;
                        width: 100%;
                        margin-bottom: 50px;
                        .courses__left__cover {
                        ul {
                            li {
                                margin-right: 20px;
                                display: inline-block;
                                border-bottom: none;
                            }
                        }
                    }
                    }
                    .courses__right {
                        width: 100%;
                        .list__courses {
                            grid-template-columns: auto auto;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 600px) {
    .courses {
        .courses__cover {
            .title {
                h1 {
                    font-size: 40px;
                }
            }
            .courses__content {
                padding: unset;
                .courses__content__cover {
                    .courses__right {
                        .list__courses {
                            grid-gap: 15px;
                            .card {
                                a {
                                    .card__cover {
                                        .card__bottom {
                                            padding: 0 .5rem 1rem .5rem;
                                            .card__title {
                                                h2 {
                                                    font-size: 14px;
                                                    margin-right: 5px;
                                                }
                                                
                                            }
                                            .card__evalute {
                                                font-size: 12px;
                                            }
                                            .card__content {
                                                font-size: 12px;
                                            }
                                            .card__price {
                                                font-size: 12px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
