@import "../../Variable/color";
.admin {
    .admin__cover {
        padding: 4em 2em;
            .admin__navbar {
                margin-top: 50px;
                margin-bottom: 30px;
                ul {
                    li {
                        margin-right: 30px;
                        display: inline-block;
                        font-size: 20px;
                        cursor: pointer;
                    }
                    .active {
                        color: $font-color;
                    }
                }
            }
        .admin__content {

        }
    }
}