@import "../../Variable/color";
@import "../../Variable/align";
.listUsers {
    .listUsers__item {
        padding-bottom: 10px;
        border-bottom: 1px solid $font-color2;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .listUsers__infor {
            input {
                display: inline-block;
                width: 250px;
                margin-right: 20px;
            }
            .input {
                .unEdit {
                    border: none;
                }
            }
        }
        .listUsers__button {
            button {
                margin-left: 15px;
                border-radius: 10px;
                padding: 10px 20px;
            }
            .delete {
                background: #fe4848;
            }
        }
        
    }
    .pagination {
        @include align;
        margin-top: 50px;
        li {
            cursor: pointer;
            display: inline-block;
            list-style: none;
            margin: 0 5px;
            

           
        }
        .pagenate__item {
            a {
                display: block;
                width: 30px;
                height: 30px;
                text-align: center;
                transform: translateY(6px);
            }
        }
       
        .selected {
            border-radius: 5px;
            background-color: $bg-color3;
        }
    }
   
}