@import "../Variable/color";
.card {
    a {
        text-decoration: none;
        .card__cover {
            border-radius: 25px;

            transition: all .5s;
            background: $bg-color2;
          //  border: 2px solid #465286;
          .card__top {
            .card__img {
                filter: brightness( 80% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
                img {
                    border-top-left-radius: 25px;
                    border-top-right-radius: 25px;
                    width: 100%;
                }
            }
        }

        .card__bottom {
            
            padding: 0px 0px 1em 1em;
            .card__title {
                margin-top: 15px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                h2 {
                    font-weight: 100;
                    font-size: 20px;
                    margin-right: 10px;
                }
             
            }
            .card__evalute {
                color: #ffffff66;
                font-size: 16px;
                span {
                    color: #ffffff66;
                }
                svg {
                    position: relative;
                    top: 2px;
                    fill: #f0ad4e;
                }
            }
            .card__content {
                margin: 10px 0;
                color: $font-color2;
            }
           
            .card__price {
                border-radius: 5px;
                padding: 5px 10px;
                display: inline-block;
                background-color: $bg-color3;
                font-size: 18px;
            }
        }
            &:hover {
                transition: all .5s;
                border-color: #0dcb74;
                background: linear-gradient(110deg, #000b3c 0%, #152052 100%)
            }

        }
    }
}
