@import '../Variable/color';
.footer {
    background-color: #202b54;
    border-top: 1px solid #f4f4f430;
    padding: 6em 1em 6em 1em;
    .footer__cover {
        flex-wrap: wrap;
        max-width: 1400px;
        justify-content: space-between;
        align-items: flex-start;
        display: flex;
        background-color: #142052;
        border-radius: 15px;
        border: 1px solid #f4f4f430;
        padding: 2em;
        h3 {
            margin-bottom: 10px;
            font-size: 20px;
            color: $font-color; 
        }
        ul {
            li {
                max-width: 300px;
                margin-top: 20px;
                list-style: none;
                color: #cccccc;
                span {
                    font-weight: 600;
                }
                a {
                    text-decoration: none;
                    &:hover {
                        color: $font-color;
                    }
                }
            }
        }
        .footer__1 {
            img {
                width: 55%;
            }
            h4 {
                color: #f4f4f4;
                margin-bottom: 5px;
                font-size: 20px;
            }
            p {
                color: #cccccc;
            }
        }
       
    }
}
//responsvie 
@media (max-width: 1040px) {
    .footer {
        .footer__cover {
            .footer__1 {
                width: 50%;
            }
            .footer__2 {
                width: 50%;

            }
            .footer__3 {
                margin-top: 25px;
                width: 50%;
            }
            .footer__4 {
                margin-top: 25px;
                width: 50%;
            }
        }
    }
}
@media (max-width: 780px) {
    .footer {
        .footer__cover {
            padding: 10px;
            ul {
                li {
                    max-width: unset;
                }
            }
            text-align: center;
            .footer__1 {
                width: 100%;
            }
            .footer__2 {
                margin-top: 25px;
                width: 100%;

            }
            .footer__3 {
                margin-top: 25px;
                width: 100%;
            }
            .footer__4 {
                margin-top: 25px;
                width: 100%;
            }
        }
    }
}
